
.footer{
    background-color: #dddfe7;
    margin-left: 0.15 rem;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f0114d98; 
}

#last_item{
    background-color: #4054B2;
    text-align: center;
    color: #fff;
    width: 100%;
    height:40%;
}


a:link {
    color: rgb(185, 12, 52);
  }


  body {
    margin: 0;
    padding: 0;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: url(../img/pan.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
   
 }
 .hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 30%; }
    
 .hero-title {
    font-size: 3rem;
    margin-bottom: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    
 }
 
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
    float: right;
 }
 .hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
 }

 .navbar{
     top:15px;
     text-align: left;
    
 }
 .navbar-toggler-icon{
     background-color: #ffffff;


 }
#subodh{
   background-position: 50%;
}

.row {
   padding-left: 2%;
   font-family:'Montserrat',sans-serif; 
}